html {
  box-sizing: border-box;
}

body {
  background-color: #c9c9c9;
}

header {
  background-color: green;
}

.main {
  background-color: #000;
}

.about {
  background-color: orange;
}

.items {
  background-color: blue;
  width: 150px;
  height: 120px;
}